<h1>Restaurants Index</h1>

<%= image_tag 'https://images.pexels.com/photos/262918/pexels-photo-262918.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb' %>

<h2>Find your favorite restaurant now!</h2>

<%= form_tag restaurants_path, method: :get do %>
  <%= text_field_tag(:search, params[:search], placeholder: "Restaurant search") %>
  <%= submit_tag "Find Now", :name => nil %>
<% end %>

<h2>Our restaurants</h2>

<% @restaurants.each do |restaurant|%>
  <p>
    <%= link_to("#{restaurant.name}", restaurant_path(restaurant.id)) %><br>
    <%= restaurant.summary %>
  </p>
<% end %>
