<h1><%= @restaurant.name %></h1>

<p>
  <%= @restaurant.summary %>
</p>

<p>
  <%= @restaurant.street_address %><br>
  <%= @restaurant.city %><br>
  <%= @restaurant.province %><br>
  <%= @restaurant.postal_code %><br>
  <%= @restaurant.phone %><br>
  <%= @restaurant.email %>
</p>

<p>
  <%= link_to("See Full Menu", '#') %>
</p>

<h2>Book now!</h2>

<%= form_tag("/reservations/new", method: "get") do %>
  <%= hidden_field_tag :restaurant_id, @restaurant.id %>
  <%= text_field_tag :party_size, nil, placeholder: 'Enter party size' %>
  <%= select("post", "reservation_date", @total_available_dates, {prompt: 'Choose Desired Date'}) %>

    <%= submit_tag "Find availability now"%>
<% end %>



<!-- <% @total_slots.each do |slot| %>
  <p>
    <%= slot %>
  </p>
<% end %> -->
